<div class="crs-bar">
  <div class="crs-current-user">{{$ctrl.roleName}}</div>
  <a class="crs-button" href="#!/login" ng-repeat="login in $ctrl.loginActions">
    <img class="crs-icon" src="img/icons-svg/user-white.svg"/>
    <div class="crs-label">Вход</div>
  </a>
  <a class="crs-button" href="#!/logout" ng-repeat="logout in $ctrl.logoutActions" ng-click="$ctrl.logOut()">
    <img class="crs-icon" src="img/icons-svg/user-white.svg"/>
    <div class="crs-label">Выход</div>
  </a>
</div>

<div id="carsList" class="crs-platform">
  <div class="crs-car-preview" ng-repeat="car in $ctrl.db.cars">
    <img ng-src="{{'img/' + car.photo + '.jpg'}}"/>
    <div >{{car.brand + ' ' + car.model}}</div>
    <a href="{{car.location}}">Показать на карте</a>
    <form ng-repeat="form in $ctrl.locationForms">
      <input ng-model="$ctrl.newCarLocation" type="text" placeholder="Введите новую позицию" name="uname" required>
      <div class="crs-button" ng-click="$ctrl.changeLocation(car.id)">
	<div class="crs-label">Записать позицию</div>
      </div>                        
    </form>
  </div>
</div>
    
